#titulo-acerca{
    color: white;
    font-size: 2.5rem;
    margin: 0;
}

.card-container{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    
}

.card-img{
    float: left;
    width:  5%;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 1px 4px 0px rgb(0 0 0 / 20%);
    margin: 1rem;
    transition: transform .2s;
}

.card-img:hover{
    transform: scale(1.3);
}

.card-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}