#twitter, #linkedin{
    width: 50px;
}

#form{
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
    padding: 2rem;
    border-radius: 10px;
}

#form input, #form textarea{
    border-radius: 10px;
    resize: none;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.btn-8,
.btn-8 *,
.btn-8 :after,
.btn-8 :before,
.btn-8:after,
.btn-8:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-8 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #14213D;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#14213D, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-8:disabled {
  cursor: default;
}
.btn-8:-moz-focusring {
  outline: auto;
}
.btn-8 svg {
  display: block;
  vertical-align: middle;
}
.btn-8 [hidden] {
  display: none;
}
.btn-8 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.btn-8 span {
  mix-blend-mode: difference;
}
.btn-8:after,
.btn-8:before {
  --tilt: 1.2rem;
  background: #fff;
  -webkit-clip-path: polygon(
    0 0,
    calc(100% - var(--tilt)) 0,
    100% 100%,
    0 100%
  );
  clip-path: polygon(0 0, calc(100% - var(--tilt)) 0, 100% 100%, 0 100%);
  content: "";
  display: block;
  height: 100%;
  left: calc(-100% - var(--tilt));
  position: absolute;
  top: 0;
  transform: translateX(var(--progress, 0));
  transition: transform 0.2s ease;
  width: calc(100% + var(--tilt));
}
.btn-8:after {
  left: 100%;
  transform: translateX(var(--progress, 0)) rotate(180deg);
  z-index: -1;
}
.btn-8:hover:before {
  --progress: 100%;
}
.btn-8:hover:after {
  --progress: -100%;
}

.principal{
    display: flex;
    justify-content: center;   
    position: absolute;
    top: 180px;
    right: 100px;
}

.contacto{
    width: 30%;
    margin-right: 2.5rem;
}

.texto-contacto h1{
    text-align: center;
    font-size: 3rem;
}

.texto-contacto p{
    font-size: 1.2rem;
}

.redes-contacto{
    display: flex;
    justify-content: space-evenly;

}

.redes-contacto a{
    text-decoration: none;
    color: black;
    
}

.barra-separadora{
    width: 1rem;
    background: rgb(229,229,229);
    background: linear-gradient(360deg, #14213D, #E5E5E5);
}

.formulario{
    margin-left: 5rem;
}

/* Media queries */
@media screen and (max-width: 769px){
  
  #form{
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
  
  #twitter{
    margin-right: 1rem;
  }

  #linkedin{
    margin-left: 1rem;
  }

  .formulario{
    display: flex;
    justify-content: center;
    margin-left: 0;
    width: 100%;
  }

  .principal{
    flex-direction: column;
    align-items: center;
    position: inherit;
    
  }

  .barra-separadora{
    display: none;
  }

  .contacto{
    width: 80%;
    margin-right: 0;
    
  }

  .redes-contacto{
    justify-content: center;
  }

}

@media screen and (max-width: 426px){

  #form{
    width: 65%;
  }

}

@media screen and (max-width: 321px){

  .texto-contacto h1{
    font-size: 2rem;
  }

  .texto-contacto p{
    font-size: 1rem;
  }

  #twitter, #linkedin{
    width: 40px;
  }
}


