.nav-inferior{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-inferior a{
    text-decoration: none;
    color: white;
    margin: 0.5rem;

}

#footer{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    background-color: #14213D;
    padding: 0 2rem 0 2rem;
}

.top-arrow{
    position: absolute;
    width: 90%;
}

.top img{
    width: 80px;
    height: 80px;
    display: block;
    position: absolute;
    bottom: -30px;
    left: 50%;
}

.nombre-footer p{
    color: white;
}

/* Media Queries */
@media screen and (max-width: 769px){

    .top img{
        left: 45%;
    }

}

@media screen and (max-width: 426px){

    .top img{
        left: 38%;
    }

    .nav-inferior{
        flex-direction: column;
    }

    .nombre-footer p{
        width: 50%;
    }

}

@media screen and (max-width: 376px){

    .top img{
        left: 35%;
    }

    .nav-inferior li, .nombre-footer p{
        font-size: 0.8rem;
    }


}

@media screen and (max-width: 321px){

    .top img{
        left: 31%;
    }

    .nav-inferior{
        padding: 0;
    }


}