#header{
    display: flex;
    justify-content: space-between;
    background-color: #14213d;
    padding: 0 2rem 0 2rem;
}

#logo_ev{
    width: 80px;
}

.nav{
    display: flex;
    align-items: center;
}

.div-nombre a{
    text-decoration: none;
    color: white;
}

.secciones{
    display: flex;
    justify-content: flex-end;
}

.secciones a{
    text-decoration: none;
    color: white;
    margin: 0.5rem;
}


.lista-secciones{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    
}

.redes i{
    margin-top: 0.7rem;
    font-size: 2rem;
}

.hamburger{
    display: none;
}


@media screen and (max-width: 769px){
    
     .hamburger{
      display: block;
     }
      
    .secciones, .lista-secciones{
      flex-direction: column;
      justify-content: center;

    }

    .secciones, .lista-secciones li{
      background-color: #1d3a79;
      border: 1px solid #1c2b4b;
      
      padding: 1rem;
      
    }

    

    








}






