#header{
    display: flex;
    justify-content: space-between;
    background-color: #14213d;
    padding: 0 2rem 0 2rem;
}

#logo_ev{
    width: 80px;
}

.nav{
    display: flex;
    align-items: center;
}

.div-nombre a{
    text-decoration: none;
    color: white;
}

.secciones{
    display: flex;
    justify-content: flex-end;
}

.secciones a{
    text-decoration: none;
    color: white;
    margin: 0.5rem;
}

.lista-secciones{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.redes i{
    font-size: 2rem;
}

.hamburger{
    display: none;
}

.active{
    opacity: 0.5;
}

.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  
@media screen and (max-width: 769px){
    
     .hamburger{
      display: block;
      color: white;
      background-color: #14213d;
      border: 0;
      font-size: 1.5rem;
     }
    
    .secciones{
        display: none;
    }
    
    .secciones, .lista-secciones{
      flex-direction: column;
      justify-content: center;
      position: absolute;
      transform: translate(-850px,25px);
      z-index: 1;
      
    }

    .lista-secciones li{
      background-color: #1d3a79;
      border: 1px solid #1c2b4b;
      width: 745px;
      padding: 1rem;
      text-align: center;
    }

    .mostrar{
        display: block;
    }

    .ocultar{
        display: none;
    }

}

@media screen and (max-width: 426px){
   
   .secciones, .lista-secciones{

     transform: translate(-675px,25px);
     
   }

}

@media screen and (max-width: 376px){

  .secciones, .lista-secciones{

    transform: translate(-645px,25px);

  }

}

@media screen and (max-width: 321px){

  .secciones, .lista-secciones{

    transform: translate(-620px,25px);

  }


}







