/* SECCION DE PRESENTACION */

/* Foto de perfil */
#perfil{
    width: 450px;
}

#btn-hello{
    width: 500px;
}

/* Ancla dentro de boton de saludo */
#btn-anchor{
    margin: 0;
    text-decoration: none;
    color: white;
}
/* Animacion de escritura */
#btn-anchor {
    color: #fff;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #14213D; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em; /* Adjust as needed */
    animation: 
      typing 2.0s steps(40, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }


/* Clase general para botones */
.btn-generic{
    font-family: 'Sintony';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    padding: 0.5rem;
    background-color: #FCA311;
    border-radius: 20px;
    border: #FCA311;    
}

.btn-generic p{
    color: white;
    margin: 0;
}

.content{
    display: flex;
    justify-content: center;
    padding: 1rem;

}

.presentation{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5rem;
}

.presentation p{
    color: white;
    font-size: 1.2rem;
}

.presentation a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    text-decoration: none;
    color: white;
}

.presentation a:visited{
    color: white;
}

/* Iconos de descargas */
.fa-cloud-arrow-down, .fa-stamp, .fa-address-book{
    font-size: 1rem;
    margin-right: 0.5rem;
    color: #FCA311;
}

/* SECCION DE SKILLS */

/* Seccion con botones y divs de skills */
#skills{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
    padding: 3rem;
}
/* Div que contiene las skills (tech & soft) */
.div-skills{
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    width: 250px;
    height: 550px;
    margin: 1rem 3rem 1rem 0;
}
/* Reglas conjuntas */
#tech-icons,
#soft-icons{
    text-align: center;
}

#tech-icons span p,
#soft-icons span p{
    font-weight: 700;
}

#tech-button,
#soft-button{
    background-color: #14213D;
    width: 280px;
}
/* Div que contiene los iconos de tecnologias */

#tech-icons span p{
    margin-top: 2rem;
}

#python{
    font-size: 4rem;
}

#django{
    font-size: 4.5rem;
}

#fastapi{
    font-size: 6rem;
}

#mongo{
    font-size: 4rem;
}

#sqlite{
    font-size: 5rem;
}

#git{
    font-size: 4rem ;
}

#github{
    font-size: 3.5rem;
}

#trello{
    font-size: 4rem;
}

.tech-icon{
    font-size: 3rem;
    margin: 0;
}


/* Div que contiene iconos de habilidades */
.soft-p{
    font-size: 1.5rem;
}



/* SECCION DE PROYECTOS */

#proyectos{
    color: #212529;
    font-size: 1rem;
}

.div-proyectos h1{
    text-align: center;
    margin-top: 2rem;
}

.lista-proyectos{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 50px;

}

.lista-proyectos li{
    border-radius: 10px;
    box-shadow: 0 1px 4px 0px rgb(0 0 0 / 20%);
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 10px;
    width: 20%;
    transition: transform .2s;

}

.lista-proyectos li:hover{
    transform: scale(1.1);
}

.lista-proyectos a{
    text-decoration: none;
    color: #FCA311;
}

.lista-proyectos a:visited{
    color: #FCA311;
}

.lista-proyectos li img{
    width: 100%;
}

/* Media queries */

@media screen and (max-width: 1025px){

    #perfil{
        width: 400px;
    }

    .content{
        justify-content: space-evenly;
    }

    .presentation{
        width: 50%;
        margin-right: 2rem;
    }

}

@media screen and (max-width: 769px){

    #perfil{
        width: 300px;
    }

    #btn-hello{
        font-size: 1.5rem;
        width: 400px;
    }
    
    #skills{
        justify-content: space-between;
    }

    .btn-generic{
        font-size: 1.5rem;
    }

    .presentation{
        width: 50%;
        margin-right: 0;
    }

    .presentation p{
        font-size: 1rem;
    }

    .content{
        justify-content: space-evenly;
        margin-top: 2rem;
    }
    
    .div-skills{
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 0;
    }


    .lista-proyectos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2rem;
        padding: 50px;
    
    }

    .lista-proyectos li{
        width: 90%;
        margin-bottom: 1rem;
    }

    .lista-proyectos li:hover{
        transform: scale(1.0);
    }
}

@media screen and (max-width: 426px){

    #btn-hello{
        font-size: 1.5rem;
        
    }

    #skills{
        flex-direction: column;
    }

    .content{
        flex-direction: column-reverse;
        align-items: center;
    }

    .presentation{
        width: 90%;
    }

    .lista-proyectos li{
        margin-left: 0;
    }

}

@media screen and (max-width: 376px){

    #btn-hello{
        font-size: 1.2rem;
        width: 350px;
    }
}


@media screen and (max-width: 321px){

    #perfil{
        width: 250px;
    }

    #btn-hello{
        font-size: 1.1rem; 
        width: 280px;
    }

    #tech-icons span p,
    #soft-icons span p{
        font-size: 0.8rem;
        margin-top: 1rem;
    }

    #python{
        font-size: 3rem;
    }
    
    #django{
        font-size: 3.5rem;
    }
    
    #fastapi{
        font-size: 5rem;
    }
    
    #mongo{
        font-size: 3rem;
    }
    
    #sqlite{
        font-size: 4rem;
    }
    
    #git{
        font-size: 3rem ;
    }
    
    #github{
        font-size: 2.5rem;
    }
    
    #trello{
        font-size: 3rem;
    }
    
    .tech-icon{
        font-size: 2.5rem;
        margin: 0;
    }
    
    .div-skills{
        height: 420px;
    }


    /* Div que contiene iconos de habilidades */
    .soft-p{
        font-size: 1.2rem;
    }

    .btn-generic{
        font-size: 1.2rem;
    }

    .presentation p{
        font-size: 0.8rem;
    }
}